$InputGroup-color: #8db6cb;
$InputGroup-height: 50px;

.InputGroup {
  @include font-properties(subvisual, small);

  display: flex;

  width: 100%;
  height: $InputGroup-height;
}

.InputGroup-input {
  @include font-properties(bodyText, small);

  flex: 3;

  height: 100%;

  padding-left: $Theme-spacing-small;

  border: none;
  border-radius: 8px 0 0 8px;

  color: $InputGroup-color;

  &::-webkit-input-placeholder {
    color:    $InputGroup-color;
  }
  &:-moz-placeholder {
    color:    $InputGroup-color;
    opacity:  1;
  }
  &::-moz-placeholder {
    color:    $InputGroup-color;
    opacity:  1;
  }
  &:-ms-input-placeholder {
    color:    $InputGroup-color;
  }
}

.InputGroup-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex: 1;

  height: 100%;

  background: $Theme-color-yellowOrange;
  border-radius: 0 8px 8px 0;

  color: $Theme-color-white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
   background-color: darken($Theme-color-yellowOrange, 10);
  }
}
